/* HTML ELEMENTS */

body {
    background-color: #fff;
}

h1 {
    color: #197CA3;
}

h2 {
    text-transform: uppercase;
    color: #F78F1E;
}

h5, h3 {
    color: #6CC15A;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

footer {
    padding: 5%;
    background-color: #f7f7f7;
}

footer a {
    color: #979797;
    font-size: .90rem;
}

footer h4 {
    font-size: 1.20rem;
}

footer a:hover {
    color: #252525;
}

label, .label {
    color: #197CA3;
    font-weight: bold;
}

/* CUSTOM CLASSES */

.nav-bg-custom {
    background-color: #fff;
}

.cta-header {
    background-color: #fff;
    padding: 20px;
    width: 300px;
    min-height: 300px;
}

.jumbotron {
    margin-bottom: 0%;
    background-image: url("images/jumbotron-bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.h1-header {
    background-color: #fff;
    display: inline-block;
    padding: 10px 20px;
    border: 1px #bfbfbf solid;
}

.p-small {
    font-size: .80rem;
}

.card-featured {
    border: 0;
    background-color: #f8f8f8;
}

.featured-div, .calender-div, .contact-div, .about-div{
    margin: 5% auto;
}

.event-container, .contact-container {
    padding: 0px 100px;
}

.event-card {
    margin-bottom: 2%;
}

.event-date {
    padding: 2%;
}

.h2-date {
    color: #197CA3;
    font-weight: bold;
}

.bg-yellow {
    background-color: #fffcf5;
}

.btn-green {
    background-color: #6CC15A;
}

.btn-orange {
    background-color: #f78f1e;
}

.row-cards {
    padding: 25px 0;
}

.row-body {
    padding: 50px 0;
    border-bottom: 1px ridge;
    border-color: #197ca3;

}

.img-calendar {
    width: auto;
    height: auto;
}